<% provide(:title, 'All Users') %>
<h1>ユーザー一覧</h1>
<%= render 'shared/error_messages', object: @user %>

<div class="col-md-10 col-md-offset-1">
  <%= form_tag import_users_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "インポート", class: "btn btn-primary" %>
  <% end %>
  <%= will_paginate %>
  
  <div class="panel-group index-page">
    <% @users.each do |user| %>
      <% if !user.admin? %>
      <p><%= user.name %></p>
      | <%= link_to "削除", user, method: :delete,
            class: "btn btn-primary",
            data: { confirm: "削除してよろしいですか？" } %>
      <div class="panel panel-default user-index--edit">
        <div class="panel-heading">
          <h4 class="panel-title">
            <button type="button" data-toggle="collapse" href="#<%= user.id %>" class="btn btn-primary">編集</a>
          </h4>
        </div>
        <div id="<%= user.id %>" class="panel-collapse collapse">
          <div class="panel-body">
            <%= form_with(model: user, local: true) do |f| %>
  
              <%= f.label :name, class: "label-user--edit" %>
              <%= f.text_field :name, class: "form-control" %>
              
              <%= f.label :email, class: "label-user--edit" %>
              <%= f.email_field :email, class: "form-control" %>
              
              <%= f.label :affiliation, class: "label-user--edit" %>
              <%= f.text_field :affiliation, class: "form-control" %>
              
              <%= f.label :employee_number, class: "label-user--edit" %>
              <%= f.text_field :employee_number, class: "form-control" %>
              
              <%= f.label :uid, class: "label-user--edit" %>
              <%= f.text_field :uid, class: "form-control" %>
              
              <%= f.label :password, class: "label-user--edit" %>
              <%= f.password_field :pasword, class: "form-control" %>
              
              <%= f.label :basic_time, class: "label-user--edit" %>
              <%= f.time_field :basic_time, class: "form-control" %>
              
              <%= f.label :designated_work_start_time, class: "label-user--edit" %>
              <%= f.time_field :designated_work_start_time, class: "form-control" %>
              
              <%= f.label :designated_work_end_time, class: "label-user--edit" %>
              <%= f.time_field :designated_work_end_time, class: "form-control" %>
              
              <%= f.submit "編集する", class: "btn btn-primary btn-block btn-user--edit" %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>

  <%= will_paginate %>
</div>  

<!-- モーダルウインドウ表示 -->
<div id="approval-alert" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>