<% provide(:class_text, "new-site") %>
<% provide(:btn_text, "追加") %>
<h1>拠点一覧</h1>

<div>
  <table class="table table-bordered table-striped table-condensed" id="index_site">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>拠点番号</th>
        <th>拠点名</th>
        <th>勤怠種類</th>
      </tr>
    </thead>
    <tbody>
      <% @sites.each do |site| %>
        <tr>
          <td><%= link_to "修正", edit_site_info_site_path(site), remote: true, class: "btn btn-sm btn-primary" %></td>
          <td><%= link_to "削除", site, method: :delete,
                  data: { confirm: "削除してよろしいですか?" },
                  class: "btn btn-sm btn-primary" %></td>
          <td><%= site.site_number %></td>
          <td><%= site.site_name %></td>
          <td><%= site.site_status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="panel panel-default site-index--new">
    <div class="panel-heading">
      <h4 class="panel-title">
        <button type="button" data-toggle="collapse" href="#collapse1" class="btn btn-primary">拠点情報追加</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        <%= form_with(model: Site.new, local: true) do |f| %>
          <%= f.label :site_number, class: "label-#{yield(:calss_text)}" %>
          <%= f.text_field :site_number, class: "form-control" %>
          
          <%= f.label :site_name, class: "label-#{yield(:class_text)}" %>
          <%= f.text_field :site_name, class: "form-control" %>
          
          <%= f.label :site_status, class: "label-#{yield(:class_text)}" %>
          <%= f.select :site_status, [ "出勤", "退勤" ], { prompt: "選択してください" }, class: "form-control" %>
          
          <%= f.submit yield(:btn_text), class: "btn btn-primary btn-block btn-#{yield(:class_text)}" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- モーダルウインドウ表示 -->
<div id="edit-site-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
