<% provide(:class_text, 'edit--overtime-motion') %>

<%= form_with(model: @attendance, url: update_overtime_motion_user_attendance_path(@user, @attendance), local: true, method: :patch) do |f| %>
  <div class="modal-dialog modal-dialog-center-overtime">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
          <table class="table table-bordered table" id="edit-overtime-motion-modal">
            <tbody>
              <h1>【残業申請】</h1>
              <tr>
                <th>日付</th>
                <th>曜日</th>
                <th><%= f.label :finish_overtime, class: "label-#{yield(:class_text)}" %></th>
                <th><%= f.label :next_day, class: "label-#{yield(:class_text)}" %></th>
                <th><%= f.label :operation, class: "label-#{yield(:class_text)}" %></th>
                <th><%= f.label :superior_marking, class: "label-#{yield(:class_text)}" %></th>
              </tr>
                <tr>
                  <td><%= l(@attendance.worked_on, format: :short) %></td>
                  <td class='<%= "wday#{@attendance.worked_on.wday}"%>'><%= $days_of_the_week[@attendance.worked_on.wday] %></td>
                  <td>
                      <%= f.time_field :finish_overtime, class: "form-control" %>
                  </td>
                  <td><%= f.check_box :next_day %></td>
                  <td><%= f.text_field :operation, class: "form-control" %></td>
                  <td><%= f.collection_select :superior_marking, @superiors, :name, :name, {prompt: "選択して下さい"}, class: "form-control" %></td>
                </tr>
            </tbody>
          </table>
        <%= f.submit "変更を送信する", class: "btn btn-primary btn-block" %>
      </div>
    </div>
  </div>
<% end %>