<% provide(:class_text, 'edit--overtime-message') %>

<%= form_with(model: @user, url: attendances_update_overtime_message_user_path(@user), local: true, method: :patch) do |f| %>
  <div class="modal-dialog modal-dialog-center-overtime">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <% @users.each do |user| %>
          <table class="table table-bordered table-condensed" id="edit-overtime-message-modal">
            <tbody>
              <caption>【<%= user.name %>からの残業申請】</caption>
              <tr>
                <th>日付</th>
                <th>曜日</th>
                <th>終了予定時間</th>
                <th>指定勤務終了時間</th>
                <th>時間外時間</th>
                <th>業務処理内容</th>
                <th>指示者確認㊞</th>
                <th>変更</th>
                <th>勤怠を確認する</th>
              </tr>
              <% user.attendances.where(superior_marking: current_user.name, request_status: 1).each do |day| %>
                <%= f.fields_for "attendances[]", day do |att| %>
                  <tr>
                    <td><%= l(day.worked_on, format: :short) %></td>
                    <td class='<%= "wday#{day.worked_on.wday}"%>'><%= $days_of_the_week[day.worked_on.wday] %></td>
                    <td><%= l(day.finish_overtime, format: :time) if day.finish_overtime.present? %></td>
                    <td><%= format_time(user.designated_work_end_time) %></td>
                    <td><%= format_time_delta(day, @user) %></td>
                    <td><%= day.operation %></td>
                    <td><%= att.select :request_status, Attendance.request_statuses.keys.to_a, {}, class: "form-control" %></td>
                    <td><%= att.check_box :chg %></td>
                    <td><%= link_to "確認", attendances_confirm_one_month_user_path(user.id, date: day.worked_on.beginning_of_month), class: "btn btn-sm btn-primary" %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        <% end %>
        <div class="message-btn">
          <%= f.submit "変更を送信する", class: "btn btn-lg btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>