<% provide(:class_text, 'edit--overtime') %>

<%= form_with(model: @user, url: update_overtime_motion_user_attendance_path(date: @first_day), local: true, method: :patch) do |f| %>
  <div class="modal-dialog modal-lg modal-dialog-center">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
          <table class="table table-bordered" id="edit-overtime-modal">
              <%= f.fields_for "attendances[]", @attendance do |attendance| %>
                <h1>【残業申請】</h1>
                  <tr>
                    <th>日付</th>
                    <th>曜日</th>
                    <th><%= attendance.label :finish_overtime, class: "label-#{yield(:class_text)}" %></th>
                    <th><%= attendance.label :next_day, class: "label-#{yield(:class_text)}" %></th>
                    <th><%= attendance.label :operation, class: "label-#{yield(:class_text)}" %></th>
                    <th><%= attendance.label :superior_marking, class: "label-#{yield(:class_text)}" %></th>
                  </tr>
                  <tr>
                    <td><%= l(@attendance.worked_on, format: :short) %></td>
                    <td><%= $days_of_the_week[@attendance.worked_on.wday] %></td>
                    <td><%= attendance.time_select :finish_overtime, include_blank: true, ignore_data: true, class: "form-control" %></td>
                    <td><%= attendance.check_box :next_day ,{}, "true","false" %></td>
                    <td><%= attendance.text_field :operation, class: "form-control" %></td>
                    <td><%= attendance.select :superior_marking, ['上長1', '上長2'], { include_blank: true }, class: "form-control" %></td>
                  </tr>
              <% end %>
          </table>
        <%= link_to "変更を送信する", '#', class: "btn btn-primary btn-block btn-#{yield(:class_text)}" %>
      </div>
    </div>
  </div>
<% end %>