<% provide(:class_text, 'edit--one_month_accept') %>
  
<%= form_with(model: @user, url: attendances_update_one_month_accept_user_path(@user), local: true, method: :patch) do |f| %>
  <div class="modal-dialog modal-dialog-center-overtime">
    <div class="modal-content">
      <div class="modal-body">
        <% @users.each do |user| %>
          <table class="table table-bordered table-condensed" id="edit-one-month-accept-modal">
            <tbody>
              <caption>【<%= user.name %>からの勤怠修正申請】</caption>
              <tr>
                <th rowspan="3">日付</th>
                <th rowspan="3">曜日</th>
                <th colspan="4">変更前</th>
                <th colspan="4">変更後</th>
                <th rowspan="3">備考</th>
                <th rowspan="3">指示者確認㊞</th>
                <th rowspan="3">変更</th>
                <th rowspan="3">勤怠を確認する</th>
              </tr>
              <tr>
                <th colspan="2">出社</th>
                <th colspan="2">退社</th>
                <th colspan="2">出社</th>
                <th colspan="2">退社</th>
              </tr>
              <tr>
                <th>時</th>
                <th>分</th>
                <th>時</th>
                <th>分</th>
                <th>時</th>
                <th>分</th>
                <th>時</th>
                <th>分</th>
              </tr>
              <% user.attendances.where(superior_mark2: current_user.name, superior_status2: 1). each do |day| %>
                <%= f.fields_for "attendances[]", day do |att| %>
                  <tr>
                    <td><%= l(day.worked_on, format: :short) %></td>
                    <td class='<%= "wday#{day.worked_on.wday}"%>'><%= $days_of_the_week[day.worked_on.wday] %></td>
                    <td><%= none_data_time_for_view(day.started_at, :hour) %></td>
                    <td><%= none_data_time_for_view(day.started_at, :min) %></td>
                    <td><%= none_data_time_for_view(day.finished_at, :hour) %></td>
                    <td><%= none_data_time_for_view(day.finished_at, :min) %></td>
                    <td><%= none_data_time_for_view(day.started_temp, :hour) %></td>
                    <td><%= none_data_time_for_view(day.started_temp, :min) %></td>
                    <td><%= none_data_time_for_view(day.finished_temp, :hour) %></td>
                    <td><%= none_data_time_for_view(day.finished_temp, :min) %></td>
                    <td><%= day.note %></td>
                    <td><%= att.select :superior_status2, Attendance.superior_status2s.keys.to_a, {}, class: "form-control" %></td>
                    <td><%= att.check_box :chg2 %></td>
                    <td><%= link_to "確認", attendances_confirm_one_month_user_path(user.id, date: day.worked_on.beginning_of_month), class: "btn btn-sm btn-primary" %></td>
                  </tr>
                <% end %>
              <% end %>  
            </tbody>
          </table>
        <% end %>
        <div class="message-btn">
          <%= f.submit "変更を送信する", class: "btn btn-lg btn-primary" %>
          <%= link_to "閉じる", current_user, class: "btn btn-lg btn-default" %>
        </div>
      </div>
    </div>
  </div>
<% end %>